:root{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}
body{
    margin: 0 auto;
    padding: 0 2%;
    color: #444;
    overflow-x: hidden;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
h1,h2{
    font-family: 'Playfair Display', serif;
    color: #111;
}

h1{
    text-align: center;
    padding-bottom: 1%;
}
a{
    /*text-decoration: none;*/
    color: black;
}
a:hover{
    text-transform:lowercase;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 5%;
}
li::before{
    content: url(imoji/twemoji_round-pushpin.svg);
    padding-right: 1%;
}
h2{
    text-indent: 5%;
}
h2::before{
    content: url(imoji/twemoji_pushpin.svg);
    padding-right: 1%;
}
.text{
    text-indent: 5%;
    line-height: 140%;
}
section{
    padding-bottom: 1%;
}
